{
    "root": true,
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended",
        "prettier",
        "plugin:node/recommended",
        "plugin:eslint-comments/recommended"
    ],
    "plugins": ["@typescript-eslint"],
    "env": {
        "node": true,
        "es2022": true
    },
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaVersion": "latest"
    },
    "rules": {
        "node/no-unsupported-features/es-syntax": "off", // Typescript compiler converts those
        "node/no-missing-import": "off", // Not working on nested folders even on VSCode
        "@typescript-eslint/explicit-module-boundary-types": "off" // really?
    }
}
